.g_header_1 {
  position: relative;
  @at-root {
    #{&}__1 {
      position: relative;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      border-bottom: solid 1px #333;
    }
    #{&}__2 {
      position: relative;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
  h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: $px14;
    text-shadow: 1px 1px 3px #000;
    background-color: rgba(0,0,0,.6);
    @include box-sizing(border-box);
  }
}